<div class="container-fluid page-head">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="breadcrumb">
          <h2>Sign Up</h2>
          <li><a href="/"><em class="fa fa-home fa-lg"></em></a></li>
          <li class="active">Sign Up</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, style: "width: 100%;" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", style: "width: 100%;" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", style: "width: 100%;" %>
        </div>
        <div class="field">
          <label>Are you applying to be a trainer?</label><br ?>
          <%= f.check_box :trainer_application, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
