<h2><%= heading %></h2>
<%= form_tag url, method: form_method do %>
  <p>Name:</p><input type="text" name="name" placeholder="<%= @trainer.trainer_profile.name %>">
  <p>Gender:</p>
    <input type="radio" name="gender" value="male">Male<br>
    <input type="radio" name="gender" value="female">Female<br>
  <textarea name="bio" id="" cols="30" rows="10"><%= @trainer.trainer_profile.bio %></textarea>
  <input type="submit" value="<%= submit_message %>">
<% end %>