<section class="custom-slider">
  <div id="home-slider" class="xv_slider flexslider">
    <ul class="slides">
      <li class="xv_slide" data-slideBg="url('https://s3.amazonaws.com/thatsisterimages/wp-content/uploads/2016/07/17114449/Black-Woman-Exercising.jpg')" >
        <div class="flex-caption">
          <div class="container" style="color: black">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h1 style="color: black" class="fadeInDown animated">NoRxCuses</h1>
                <h2 style="color: black" class="fadeInLeft animated slower">FlexSlider with awesome Animations</h2>
                <p class="fadeInRight animated slow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas justo sed sagittis interdum. </p>
                <a href="#" class="btn btn-default bounceInUp animated slow">Purchase Now!</a> </div>
              <!-- <div class="col-xs-12 col-md-6 xv-slide-fig">
                <div class="fadeInUp animated slower"><a href="http://vimeo.com/51740084" data-rel="prettyPhoto" class="trigger_fancy-video"><img src="assets/img/slider/laptop.png" alt=""/></a> </div>
              </div> -->
            </div>
          </div>
        </div>
      </li>
      <li class="xv_slide" data-slideBg="url('http://www.women-interests.com/wp-content/uploads/2015/06/Woman-Exercise.jpg')" >
        <div class="flex-caption">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h1 class="fadeInDown animated">NoRxCuses</h1>
                <h2 class="fadeInLeft animated slower">Clean multi purpose theme</h2>
                <p class="fadeInRight animated slow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas justo sed sagittis interdum. </p>
                <!-- <a href="#" class="btn btn-default bounceInUp animated slow">Purchase Now!</a> </div> -->
            </div>
          </div>
        </div>
      </li>
      <li class="xv_slide" data-slideBg="url('http://cf.ltkcdn.net/exercise/images/slide/124025-849x565-iStock_000009000334Small.jpg')" >
        <div class="flex-caption">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 xv-slide-fig">
                <!-- <div class="fadeInUp animated slower"> <a href="http://vimeo.com/51740084" data-rel="prettyPhoto" class="trigger_fancy-video"><img src="assets/img/slider/laptop.png" alt=""/></a> </div> -->
              </div>
              <div class="col-xs-12 col-md-6">
                <h1 class="bounceInDown animated slower">NoRxCuses</h1>
                <h2 class="fadeInRight animated slower">fusion of flat and corporate style</h2>
                <p class="bounceInLeft animated slowest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas justo sed sagittis interdum. </p>
                <a href="#" class="btn btn-default bounceInUp animated slow">Purchase Now!</a> </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="portfolio style2">
  <div class="container">
    <h2>Some Exercises</h2>
    <ul class="project-filter">
        <li class="active" data-filter="*">all</li>
        <% @muscles.each do |muscle| %>
        <li data-filter=".<%= muscle.name %>"><%= muscle.name %></li>
        <% end %>
    </ul>
  </div>
  <div class="projects">
    <% @exercises.each do |exercise| %>
      <div class="project <%= exercise.muscle.name %>">
        <figure>
          <img src="<%= exercise.exercise_images.first.url %>" alt="">
        </figure>
        <div class="hover">
          <div class="hover-content">
            <a href="/exercises/<%= exercise.id %>"><span class="livicon" data-name="eye-open" data-onparent="true" data-size="30"></span></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>