<h1>UserProfiles#show</h1>
<p>Find me in app/views/user_profiles/show.html.erb</p>
<div class="info">
  <%= image_tag "#{@user.avatars.last.url}", class: "media-object avatar" %>
  <% if current_user && current_user.id == @user.id %>
    <p><a href="/avatars/new">Edit Avatar</a></p>
  <% end %>
  <p>Name: <%= @user.user_profile.name %></p>
  <p>Gender: <%= @user.user_profile.gender.capitalize %></p>
  <p>Has Equipment: <%= @user.user_profile.equipment ? "Yes" : "No" %></p>
  <p>Has Paid: <%= @user.user_profile.paid ? "Yes" : "No" %></p>
  <p>Trainer: <%= @user.trainer.trainer_profile.name %></p>
</div>
