<header>
  <nav id="sticktop" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <% if current_user %>
            <a class="navbar-brand" href="/<%= current_user.trainer ? 'user_profiles' : 'trainer_profiles' %>/<%= current_user.id %>"><%= current_user.email %>(<%= current_user.id %>)</a>
        <% else %>
            <a class="navbar-brand" href="/">NoRxcuses</a>
        <% end %>
      </div>
        
      <div id="dl-menu" class="xv-menuwrapper responsive-menu">
          <button class="dl-trigger">Open Menu</button>
          <div class="clearfix"></div>
          <ul class="dl-menu">
              <% if current_user %>
                <li class="parent"><a href="/messages">Inbox</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/<%= current_user.trainer ? 'user_profiles' : 'trainer_profiles' %>/<%= current_user.id %>">My Profile</a></li>
            <% else %>
                <li><a href="/users/sign_in">Login</a></li>
            <% end %>              
            <li class="parent megamenu"><a href="/exercises">Exercises</a>
              <ul class="lg-submenu">
               <li><a>Muscles</a>
                <ul class="lg-submenu">
                  <li><a href="#"><figure><img src="/assets/img/extra/offer.jpg" alt=""/></figure></a></li>
                </ul>
               </li>
              </ul>
            </li>
          </ul>
      </div><!-- /dl-menuwrapper -->
    </div>
  </nav>
</header>