<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneV2</title>
    <%= csrf_meta_tags %>
    <link id="target" href="/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.orange.min.css" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <!-- FLASH MESSAGES -->
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4><%= message %></h4>
      </div>
    <% end %>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">\x3C/script>')</script>

    <script src="/js/bootstrap.min.js"></script>
    <script src='/docs/js/jquery.dcjqaccordion.2.7.min.js'></script>
    <script src="/extra/jquery-ui/jquery-ui.min.js"></script>
    <script src="/extra/slim-scroll/jquery.slimscroll.min.js"></script>
    <script src="/docs/js/portlets.js"></script>
    <script src="/docs/js/slim-scroll.js"></script>
    <script src="/docs/js/custom.js"></script>
    <script src="/docs/js/jquery.cookies.js"></script>


  </body>
</html>
