<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- FLASH MESSAGES -->
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2><%= message %></h2>
      </div>
    <% end %>
    <% if current_user %>
      <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
